<!DOCTYPE html>
<html>
	<head>
		<title>Call Debugger</title>
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.0/twilio.min.js"></script>
		<script type="text/javascript" src="js/bootstrap-min.js"></script>		
		
		<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
		<style type="text/css" >
			.separator {
				margin-top: 48px;
			}
		</style>													
	</head>

	<body>
		<div class='container'>
			<%= yield %>
		</div>
	</body>
</html>